/* Facekeeper Login CSS by bu <bu@hax4.in> 2010 */

* 
{
margin:0;
padding:0;
}

body 
{
background: #333;
}

#container 
{
width:900px;
height:600px;
position:absolute;
top:50%;
left:50%;
margin-top:-300px;
margin-left:-450px;

background:#333 url('../img/bg.png') no-repeat center center;
border-bottom:5px solid #222;
border-right:5px solid #222;
border-top:1px solid #000;
border-left:1px solid #000;
}

#form_container 
{
position:relative;
top:70%;
margin:-180px 0 0 0;
width:100%; 
background:#000; 
height:150px;
}

#logo 
{
height:100px;
}

#login_form 
{
height:50px;
line-height:50px;
}

#login_form label 
{
font-size:12px;
font-family:Tahoma, Verdana, sans-serif;
margin:5px;
color: #FFFFFF;
}

#login_form input
{
line-height:16px;
font-size:12px;
width:100px;
font-family:Tahoma, Verdana, sans-serif;
margin:5px;
border:1px solid #cccccc;
}

#dialog-message {display:none;}
