div#wrapper {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

div.pagination {
    overflow: hidden;
    font-size: 13px;
    padding: 10px 0;
}

div.pagination ul {
    list-style: none;
    padding: 2px 0;
    line-height:20px;
}

div.pagination li {
    display: inline;
    margin-left:10px;
}

div.pagination.quotes {
	padding:3px;
	margin:10px;
	text-align:center;
}

div.pagination.quotes a {
	padding: 2px 5px;
	text-decoration: none;
	color: #555;
}

div.pagination.quotes a:hover
{
    color:#888;
}

div.pagination.quotes li.current {
	padding: 2px 5px 2px 5px;
	border: 1px solid #e0e0e0;
	font-weight: bold;
	background-color: #f0f0f0;
	color: #aaa;
}

