{# 繼承整體風格 #}
    {% extends "layout.html" %}

{# 一些頁面的內容設定 #}
    {% block page_title %}備份檔案列表 {% parent %}{% endblock %}
    {% block content_title %}備份檔案列表{% endblock %}

{# 側邊欄選單 #}
    {% block sidebar %}
        {% include "system/menu.html" %}
    {% endblock %}

{# 頁面內容 #}
{% block page %}
    <p><a href="{{ bPack_rootpath }}system/backup/now"><img src="{{ bPack_rootpath }}public/img/database_lightning.png" border="0" />&nbsp;按此立即建立備份</a></p>
    <div class="pagination quotes">
    {{ pager }}
 </div>
 <table class="sortable">
        <thead>
            <tr>
                <th>檔名</th>
                <th>動作</th>
            </tr>
        </thead>

        <tbody>
            {% for backup in directory %}
            <tr>
                <td><a href="{{ bPack_rootpath }}backup/{{ backup }}" target="_blank">{{ backup }}</a></td>
                <td><a href="{{ bPack_rootpath }}system/backup/remove?fn={{ backup }}" class="delete">刪除</a></td>
            </tr>
            {% endfor %}
    </table>
    <div class="pagination quotes">
    {{ pager }}
 </div>
 {% endblock %}

