{# 繼承整體風格 #}
    {% extends "layout.html" %}

{# 一些頁面的內容設定 #}
    {% block page_title %}結果來源管理 {% parent %}{% endblock %}
    {% block content_title %}結果來源管理{% endblock %}

{# 側邊欄選單 #}
    {% block sidebar %}
        {% include "system/menu.html" %}
    {% endblock %}

{# 頁面內容 #}
{% block page %}
    {% for item in source %}
    <div class="SE rounded" style="float:left;margin:1em;">
        <h3>{{ item.name }}</h3>
        <img src="{{ bPack_rootpath }}public/img/SE/{{ item.name }}.png" alt="Google" class="icon" />
        <a class="action {% if item.status == 1 %}de{% endif %}activated" href="{{ bPack_rootpath }}system/source/{% if item.status == 1 %}de{% endif %}activate?source={{ item.name }}">{% if item.status == 1 %}停用{%else%}啟用{% endif %}</a>
    </div>
    {% endfor %}
{% endblock %}
