{# 繼承整體風格 #}
    {% extends "layout.html" %}

{# 一些頁面的內容設定 #}
    {% block page_title %}查詢詞彙列表 {% parent %}{% endblock %}
    {% block content_title %}查詢詞彙列表{% endblock %}

{# 側邊欄選單 #}
    {% block sidebar %}
        {% include "keyword/menu.html" %}
    {% endblock %}

{% block page %}   
        <table class="sortable">
            <thead>
            <tr>
                <th width="250"><button class="select-all">全選</button><button class="select-none">全不選</button><button class="delete">刪除</button></th>
                <th>關鍵字</th>
                <th>新增者</th>
                <th>新增時間</th>
            </tr>
            </thead>
            <tbody>
            <tr id="search-row">
            <td colspan="4">查詢關鍵字：<input type="text" id="search" />&nbsp;&nbsp;<button id="search_keyword">查詢</button></td>
            </tr>
            {% for record in item %}
            <tr id="row-{{ record.id }}">
                <td><input type="checkbox" name="item-{{ record.id }}" class="item" value="{{ record.id }}" /></td>
                <td>{{ record.key }}</td>
                <td>{{ record.creator }}</td>
                <td>{{ record.created_at }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        
    </form>

<script type="text/javascript">
    $("button.delete").button({icons:{primary:'ui-icon-trash'}}).click(function(){
        $.post("{{ bPack_rootpath }}keyword/delete/bulk_delete", $("input.item").serializeArray(), function(data){
            window.location.reload();
        },"json")
    });

    $("button.select-all").button({icons:{primary:'ui-icon-circle-check'}}).click(function(){
         $("input[type='checkbox']:not([disabled='disabled'])").attr('checked', true);
    });

    $("button.select-none").button({icons:{primary:'ui-icon-circle-check'}}).click(function(){
         $("input[type='checkbox']:not([disabled='disabled'])").attr('checked', false);
    });
    
    $("button#search_keyword").button({icons:{primary:'ui-icon-search'}}).click(function(){
        window.location.href = '{{ bPack_rootpath }}keyword/default/search?t={{ type }}&keyword=' + encodeURI($("input#search").val());

    });
</script>
{% endblock %}
