{# 繼承整體風格 #}
    {% extends "layout.html" %}

{# 一些頁面的內容設定 #}
    {% block page_title %}管理員帳號列表 {% parent %}{% endblock %}
    {% block content_title %}管理員帳號列表{% endblock %}

{# 側邊欄選單 #}
    {% block sidebar %}
        {% include "system/menu.html" %}
    {% endblock %}

{# 頁面內容 #}
{% block page %}
    <form method="post" action="{{ bPack_rootpath }}system/administrator/add">
        
    <table id="system_administrator" class="sortable" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th scope="col">編號</th>
            <th scope="col">登入帳號</th>
            <th scope="col">動作</th>
        </tr>
        </thead>
        <tbody>
        {% for administrator in admin %}
        <tr id="row-{{ administrator.id }}">
            <td>{{ administrator.id }}</td>
            <td>{{ administrator.username }}</td>
            <td><a href="{{ bPack_rootpath }}system/administrator/delete?id={{ administrator.id }}" class="delete">刪除</a>&nbsp;&nbsp;<a href="{{ bPack_rootpath }}system/administrator/modify?id={{ administrator.id}}" class="modify">修改密碼</a></td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr class="addRow">
            <td colspan="2"><label for="name">帳號</label>&nbsp;<input type="text" size="10" name="username" />&nbsp;<label for="name">密碼</label>&nbsp;<input type="text" size="10" name="password" /></td>
            <td><input type="submit" value="新增管理帳號 &raquo;" /></td>
        </tr>
        </tfoot>
    </table>
    </form>
{% endblock %}
